<h2>Administrador</h2>
<p>Pagina del administrador</p>
<ul>
    <li><a href="<%=usuarios_path%>">Usuarios</a></li>
    <li><a href="<%=productos_path%>">Platillos</a></li>
    <li><a href="<%=tiendas_path%>">Tiendas</a></li>
    <li><a href="<%=clientes_path%>">Clientes</a></li>
    <li><a href="<%=recursos_path%>">Recursos</a></li>
</ul>