<body class="bg-[#FFF1F1]">
    
    <%= render "shared/navbar1"%>
    
    <div class="bg-none min-[320px]:mx-2 sm:mx-3 md:mx-4 lg:mx-5 xl:mx-6 2xl:mx-7">
        <iframe class="w-full min-[320px]:h-[112px] sm:h-[240px] md:h-[288px] xl:h-[300px]2xl:h-[356px]" scrolling="no" src="<%=carousel_path%>" frameborder="0"></iframe>
    </div>
        <div>
            <div class="flex flex-row items-center min-[320px]:p-2 sm:p-3 md:p-4 lg:p-5">
                <p class="font-ubuntu pr-2 font-bold text-[#C80D0D] min-[320px]:text-[16px] sm:text-[20px] md:text-[24px] lg:text-[28px]">Menú</p>
                <div class="w-full"><hr class="border border-dashed border-[#C80D0D]"></div>
            </div>

            <div class="flex flex-col min-[320px]:px-2 min-[320px]:pb-2 min-[320px]:space-y-2 sm:px-3 sm:pb-3 sm:space-y-3 md:px-4 md:pb-4 md:space-y-4 lg:space-y-0 lg:grid-cols-2 lg:grid lg:px-5 lg:pb-5">
                <%= link_to list_products_path(categoria: "Hamburguesa"), data: { turbo: false } do%>
                    <div class="relative group flex place-items-center place-content-center rounded-lg  bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:mr-5 lg:h-[200px]" style="background-image: url(<%= asset_path("Burgers.jpg") %>);">
                        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
                            <p class=" text-white font-bold min-[32px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Hamburguesas</p>
                        </div>
                    </div>
                <%end%>
                <%=link_to list_products_path(categoria: "Pizza"), data: { turbo: false } do%>
                    <div class="relative group flex place-items-center place-content-center rounded-lg  bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:h-[200px]" style="background-image: url(<%= asset_path("Pizzas.jpg") %>);">
                        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
                            <p class=" text-white font-bold min-[32px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Pizza</p>
                        </div>
                    </div>
                <%end%>
            </div>

            <div class="flex flex-col min-[320px]:px-2 min-[320px]:pb-2 min-[320px]:space-y-2 sm:px-3 sm:pb-3 sm:space-y-3 md:px-4 md:pb-4 md:space-y-4 lg:space-y-0 lg:grid-cols-2 lg:grid lg:px-5 lg:pb-5">
                <%=link_to list_products_path(categoria: "Shusi"), data: { turbo: false } do%>
                    <div class="relative group flex place-items-center place-content-center rounded-lg  bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:mr-5 lg:h-[200px]" style="background-image: url(<%= asset_path("Sushi.jpg") %>);">
                        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
                            <p class=" text-white font-bold min-[32px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Sushi</p>
                        </div>
                    </div>
                <%end%>
                <%=link_to list_products_path(categoria: "Alitas"), data: { turbo: false } do%>
                    <div class="relative group flex place-items-center place-content-center rounded-lg  bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:h-[200px]" style="background-image: url(<%= asset_path("Alitas.jpg") %>);">
                        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
                            <p class=" text-white font-bold min-[32px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Alitas</p>
                        </div>
                    </div>
                <%end%>
            </div>

        </div>
</body>

<%= render "shared/footer"%>