<body class="bg-[#FFF1F1]">    
    <nav>
        <div class="bg-[#FFFFFF] flex flex-row items-center justify-between border-b border-[#6B6A6F] border-solid min-[320px]:h-8 sm:h-10 md:h-[48px] lg:h-[48px] xl:h-[48px] 2xl:h-[52px]">
            <div class="min-[320px]:px-2 sm:hidden">
                <div><a href="<%=root_path%>"><svg class="fill-[#6B6A6F] hover:fill-[#929197] hover:duration-700 w-[18px] h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg></a></div>
            </div>
            <div class="py-1 sm:px-3 md:px-4 lg:px-5 xl:px-6 2xl:px-7">
                <a href="<%=root_path%>"><img class="min-[320px]:w-6 min-[320px]:h-6 sm:w-8 sm:h-8 md:w-[38px] md:h-[38px] lg:w-[38px] lg:h-[38px] xl:w-[38px] xl:h-[38px] 2xl:w-10 2xl:h-10" src="<%=@url_logo%>" alt="logo"></a>
            </div>
            <div class="items-center font-ubuntu font-bold flex flex-row min-[320px]:hidden sm:flex sm:text-[12px] sm:space-x-[28px] md:text-[12px] md:space-x-[28px] lg:text-[14px] lg:space-x-[32px] xl:text-[14px] xl:space-x-[40px] 2xl:text-[16px] 2xl:space-x-[40px]">
                <div class="flex items-center border-r border-[#6B6A6F] sm:h-[14px] md:h-[14px] lg:h-4 xl:h-4 2xl:h-[18px]"><p class="hover:text-[#17A25F] hover:duration-300 sm:mr-7 md:mr-7 lg:mr-8 xl:mr-10 2xl:mr-10">Locales</p></div>
                <div class="flex items-center border-r border-[#6B6A6F] sm:h-[14px] md:h-[14px] lg:h-4 xl:h-4 2xl:h-[18px]"><p class="hover:text-[#17A25F] hover:duration-300 sm:mr-7 md:mr-7 lg:mr-8 xl:mr-10 2xl:mr-10">Sugerencias</p></div>
                <div class="flex items-center border-r border-[#6B6A6F] sm:h-[14px] md:h-[14px] lg:h-4 xl:h-4 2xl:h-[18px]"><p class="hover:text-[#17A25F] hover:duration-300 sm:mr-7 md:mr-7 lg:mr-8 xl:mr-10 2xl:mr-10">Contactos</p></div>
                <div class="flex items-center sm:h-[14px] md:h-[14px] lg:h-4 xl:h-4 2xl:h-[18px]"><p class="hover:text-[#17A25F] hover:duration-300">Promociones</p></div>
            </div>
            <div class="flex flex-row items-center min-[320px]:pr-2 sm:pr-3 md:pr-4 lg:pr-5 xl:pr-6 2xl:pr-7">
                <div><a href="<%=pre_login_path%>"><svg class="fill-[#6B6A6F] hover:fill-[#29D884] hover:duration-700 min-[320px]:w-[18px] min-[320px]:h-[18px] min-[320px]:mr-3 sm:w-5 sm:h-5 sm:mr-4 md:w-6 md:h-6 md:mr-4 lg:w-6 lg:h-6 lg:mr-4 xl:w-6 xl:h-6 xl:mr-4 2xl:w-7 2xl:h-7 2xl:mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/></svg></a></div>
                <div><svg class="fill-[#6B6A6F] hover:fill-[#929197] hover:duration-700 min-[320px]:w-[18px] min-[320px]:h-[16px] sm:w-5 sm:h-[18px] md:w-6 md:h-[22px] lg:w-6 lg:h-[22px] xl:w-6 xl:h-[22px] 2xl:w-7 2xl:h-[26px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></div>
            </div>
        </div>

        <div class="flex flex-row bg-white items-center content-center place-content-center border-b border-[#6B6A6F] border-solid min-[320px]:h-6 min-[320px]:mb-2 sm:h-[30px] sm:mb-3 md:h-[38px] md:mb-4 lg:h-[38px] lg:mb-5 xl:h-[38px] xl:mb-6 2xl:h-[42px] 2xl:mb-7">
            <div class="flex flex-row items-center content-center place-content-center group space-x-[6px]">
                <div><svg class="fill-[#ED1515] group-hover:fill-[#C80D0D] group-hover:duration-700 min-[320px]:w-2 min-[320px]:h-[10px] sm:w-3 sm:h-4 md:w-[14px] md:h-[18px] lg:w-[16px] lg:h-5 xl:w-[16px] xl:h-5 2xl:w-[18px] 2xl:h-[22px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg></div>
                <p class="font-ubuntu font-bold text-[#ED1515] group-hover:text-[#C80D0D] group-hover:duration-700 min-[320px]:text-[8px] sm:text-[12px] md:text-[14px] lg:text-[16px] xl:text-[18px] 2xl:text-[20px]">Ubicación</p>
                <div><svg class="fill-[#ED1515] group-hover:fill-[#C80D0D] group-hover:duration-700 min-[320px]:w-[10px] min-[320px]:h-3 sm:w-3 sm:h-4 md:w-[14px] md:h-[18px] lg:w-4 lg:h-[22px] xl:w-4 xl:h-[22px] 2xl:w-[18px] 2xl:h-[22px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg></div>
            </div>
        </div>
    </nav>

    <div class="flex flex-col min-[320px]:m-2 min-[320px]:space-y-1 sm:m-3 sm:space-y-2 md:m-4 md:space-y-3 lg:m-5 xl:m-6 xl:space-y-4 2xl:m-7 2xl:space-y-5">
        <p class="font-ubuntu font-bold text-[#A50F0F] min-[320px]:text-[12px] sm:text-[16px] md:text-[20px] xl:text-[22px] 2xl:text-[24px]">Combos</p>
        <hr class="border-dashed border-[#A50F0F] w-full">
    </div>

    <div class="min-[320px]:space-y-2 sm:space-y-3 md:space-y-4 lg:grid lg:grid-cols-2 lg:space-y-0 lg:mb-5 xl:mb-6 2xl:mb-7">
        <% @productos.each do |producto|%>
            <a href="<%=product_modal_path%>">
                <div class="bg-[#FFFFFF] flex flex-row rounded-lg hover:border-[#FF1F1F] hover:border-2 hover:border-solid hover:duration-75 min-[320px]:mx-2 min-[320px]:h-[54px] sm:mx-3 sm:h-[78px] md:mx-4 md:h-[110px] lg:mx-5 xl:mx-6 xl:h-[128px] 2xl:mx-7 2xl:h-[156px]">
                    <div class="min-[320px]:m-1 sm:m-2 md:m-3">
                        <%= image_tag producto.foto, class:"rounded h-full min-[320px]:w-[46px] sm:w-[62px] md:w-[86px] xl:w-[104px] 2xl:w-[132px]" if producto.foto.attached?%>
                    </div>
                    <div class="flex flex-col h-full justify-between min-[320px]:pr-2 min-[320px]:py-1 sm:pr-2 sm:py-2 md:pr-3 md:py-3">
                        <p class="font-ubuntu font-bold text-[#4B0404] min-[320px]:text-[10px] sm:text-[14px] md:text-[18px] xl:text-[20px] 2xl:text-[24px]"><%=producto.nombre %></p>
                        <p class="font-ubuntu font-light text-[#6B6A6F] min-[320px]:text-[6px] sm:text-[10px] md:text-[14px] xl:text-[14px] 2xl:text-[16px]"><%=producto.descripcion %></p>
                        <p class="font-ubuntu font-bold text-[#FF1F1F] min-[320px]:text-[10px] sm:text-[14px] md:text-[18px] xl:text-[20px] 2xl:text-[24px]">$<%=producto.precio%></p>
                    </div>
                </div>
            </a>
        <% end %>
    </div>
</body>
<footer class="bg-[#FFFFFF] bottom-0">
    <div class="min-[320px]:pb-3 min-[320px]:text-center min-[320px]:mt-2 sm:p-4 sm:flex sm:flex-row sm:justify-between sm:text-left sm:mt-3 md:p-5 md:mt-4 lg:p-6 lg:mt-5 xl:p-7 xl:mt-6 2xl:p-8 2xl:mt-7">
        <div class="min-[320px]:py-2 sm:p-0 md:p-0 lg:p-0 xl:p-0 2xl:p-0">
            <div>
                <p class="font-ubuntu font-medium min-[320px]:text-[12px] min-[320px]:pb-1 sm:text-[14px] sm:pb-2 md:text-[14px] md:pb-3 lg:pb-3 lg:text-[16px] xl:pb-3 xl:text-[16px] 2xl:pb-[14px] 2xl:text-[18px]">Sobre Cascady</p>
            </div>
            <div class="font-ubuntu font-light min-[320px]:text-[10px] sm:text-[12px] md:text-[12px] lg:text-[14px] xl:text-[14px] 2xl:text-[16px]">
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Términos y condiciones</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Políticas de privacidad</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Contactos</p>
                <p>Redes</p>
            </div>
        </div>
        <div class="min-[320px]:pb-2 sm:p-0 md:p-0 lg:p-0 xl:p-0 2xl:p-0">
            <div>
                <p class="font-ubuntu font-medium min-[320px]:text-[12px] min-[320px]:pb-1 sm:text-[14px] sm:pb-2 md:text-[14px] md:pb-3 lg:pb-3 lg:text-[16px] xl:pb-3 xl:text-[16px] 2xl:pb-[14px] 2xl:text-[18px]">Categorías</p>
            </div>
            <div class="font-ubuntu font-light min-[320px]:text-[10px] sm:text-[12px] md:text-[12px] lg:text-[14px] xl:text-[14px] 2xl:text-[16px]">
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3"><a href="<%=admins_path%>" >Empleados</a></p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Catalógo de productos</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Locales cerca de mí</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Promociones y ofertas</p>
            </div>
        </div>
        <div>
            <div>
                <p class="font-ubuntu font-medium min-[320px]:text-[12px] min-[320px]:pb-1 sm:text-[14px] sm:pb-2 md:text-[14px] md:pb-3 lg:pb-3 lg:text-[16px] xl:pb-3 xl:text-[16px] 2xl:pb-[14px] 2xl:text-[18px]">Únete con nosotros</p>
            </div>
            <div class="font-ubuntu font-light min-[320px]:text-[10px] sm:text-[12px] md:text-[12px] lg:text-[14px] xl:text-[14px] 2xl:text-[16px]">
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Trabaja con nosotros</p>
                <p class="min-[320px]:pb-1 sm:pb-[6px] md:pb-2 lg:pb-2 xl:pb-[10px] 2xl:pb-3">Puestos disponibles</p>
            </div>
        </div>
    </div>

    <div class="flex flex-row justify-between items-center min-[320px]:px-2 min-[320px]:pb-2 sm:px-4 sm:pb-4 md:px-5 md:pb-5 lg:px-6 lg:pb-6 xl:px-7 xl:pb-7 2xl:px-8 2xl:pb-8">
            <div class="flex flex-row">
                <svg class="min-[320px]:w[14px] min-[320px]:h-[14px] min-[320px]:mr-1 sm:w-[18px] sm:h-[18px] sm:mr-2 md:w-[20px] md:h-[20px] md:mr-3 lg:w-[20px] lg:h-[20px] lg:mr-3 xl:w-[22px] xl:h-[22px] xl:mr-3 2xl:w-[24px] 2xl:h-[24px] 2xl:mr-[14px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64h98.2V334.2H109.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H255V480H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"/></svg>
                <svg class="min-[320px]:w[14px] min-[320px]:h-[14px] min-[320px]:mr-1 sm:w-[18px] sm:h-[18px] sm:mr-2 md:w-[20px] md:h-[20px] md:mr-3 lg:w-[20px] lg:h-[20px] lg:mr-3 xl:w-[22px] xl:h-[22px] xl:mr-3 2xl:w-[24px] 2xl:h-[24px] 2xl:mr-[14px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
                <svg class="min-[320px]:w[14px] min-[320px]:h-[14px] min-[320px]:mr-1 sm:w-[18px] sm:h-[18px] sm:mr-2 md:w-[20px] md:h-[20px] md:mr-3 lg:w-[20px] lg:h-[20px] lg:mr-3 xl:w-[22px] xl:h-[22px] xl:mr-3 2xl:w-[24px] 2xl:h-[24px] 2xl:mr-[14px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>

            </div>
            <div>
                <p class="min-[320px]:text-[8px] sm:text-[10px] md:text-[10px] lg:text-[12px] xl:text-[12px] 2xl:text-[14px]">© 2024 Cascady. All rights reserved.</p>
            </div>
        </div>
</footer>